# Ignore all bin and obj directories recursively
**/bin/
**/obj/

# Optional: Ignore Visual Studio specific files (if applicable)
*.user
*.suo
*.log
*.cache
*.pdb
*.dll
*.exe
*.tmp
*.bak
*.swp
*.obj
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.sdf
*.opendb
*.VC.db

/.vs/Assignment3/FileContentIndex/2e371053-2fdb-40d6-a59d-b5645d9005b0.vsidx
/.vs/Assignment3/FileContentIndex/b2fef0f2-d0ef-4844-86a1-7acfd329889b.vsidx
/.vs/Assignment3/FileContentIndex/c158c66e-9729-423d-af9c-eaf5ae97f40d.vsidx
/.vs/Assignment3/FileContentIndex/d982d197-486d-426c-9352-461126579eab.vsidx
/.vs/Assignment3/v17/.suo
