ClassDemo/bin/Debug/net8.0/Assignment3.dll
ClassDemo/bin/Debug/net8.0/Assignment3.exe
ClassDemo/bin/Debug/net8.0/Assignment3.pdb
ClassDemo/bin/Debug/net8.0/Assignment3.staticwebassets.endpoints.json
ClassDemo/bin/Debug/net8.0/Assignment3.staticwebassets.runtime.json
ClassDemo/obj/Assignment3.csproj.nuget.dgspec.json
ClassDemo/obj/Assignment3.csproj.nuget.g.props
ClassDemo/obj/project.assets.json
ClassDemo/obj/project.nuget.cache
ClassDemo/obj/Debug/net8.0/apphost.exe
ClassDemo/obj/Debug/net8.0/Assignment3.AssemblyInfo.cs
ClassDemo/obj/Debug/net8.0/Assignment3.AssemblyInfoInputs.cache
ClassDemo/obj/Debug/net8.0/Assignment3.assets.cache
ClassDemo/obj/Debug/net8.0/Assignment3.csproj.AssemblyReference.cache
ClassDemo/obj/Debug/net8.0/Assignment3.csproj.CoreCompileInputs.cache
ClassDemo/obj/Debug/net8.0/Assignment3.csproj.FileListAbsolute.txt
ClassDemo/obj/Debug/net8.0/Assignment3.dll
ClassDemo/obj/Debug/net8.0/Assignment3.GeneratedMSBuildEditorConfig.editorconfig
ClassDemo/obj/Debug/net8.0/Assignment3.genruntimeconfig.cache
ClassDemo/obj/Debug/net8.0/Assignment3.MvcApplicationPartsAssemblyInfo.cs
ClassDemo/obj/Debug/net8.0/Assignment3.pdb
ClassDemo/obj/Debug/net8.0/Assignment3.sourcelink.json
ClassDemo/obj/Debug/net8.0/staticwebassets.build.endpoints.json
ClassDemo/obj/Debug/net8.0/staticwebassets.build.json
ClassDemo/obj/Debug/net8.0/staticwebassets.development.json
ClassDemo/obj/Debug/net8.0/staticwebassets.pack.json
ClassDemo/obj/Debug/net8.0/ref/Assignment3.dll
ClassDemo/obj/Debug/net8.0/refint/Assignment3.dll
ClassDemo/obj/Debug/net8.0/staticwebassets/msbuild.Assignment3.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
ClassDemo/obj/Debug/net8.0/staticwebassets/msbuild.Assignment3.Microsoft.AspNetCore.StaticWebAssets.props
ClassDemo/obj/Debug/net8.0/staticwebassets/msbuild.build.Assignment3.props
ClassDemo/bin/Debug/net8.0/Assignment3.dll
ClassDemo/bin/Debug/net8.0/Assignment3.exe
ClassDemo/bin/Debug/net8.0/Assignment3.pdb
ClassDemo/obj/Debug/net8.0/apphost.exe
ClassDemo/obj/Debug/net8.0/Assignment3.AssemblyInfo.cs
ClassDemo/obj/Debug/net8.0/Assignment3.AssemblyInfoInputs.cache
ClassDemo/obj/Debug/net8.0/Assignment3.dll
ClassDemo/obj/Debug/net8.0/Assignment3.pdb
ClassDemo/obj/Debug/net8.0/Assignment3.sourcelink.json
ClassDemo/obj/Debug/net8.0/ref/Assignment3.dll
ClassDemo/obj/Debug/net8.0/refint/Assignment3.dll
