# Ignore all bin and obj directories recursively
**/bin/
**/obj/

# Optional: Ignore Visual Studio specific files (if applicable)
ClassDemo/*.user
ClassDemo/*.suo
ClassDemo/*.log
ClassDemo/*.cache
ClassDemo/*.pdb
ClassDemo/*.dll
ClassDemo/*.exe
ClassDemo/*.tmp
ClassDemo/*.bak
ClassDemo/*.swp
ClassDemo/*.obj
ClassDemo/*.idb
ClassDemo/*.ipch
ClassDemo/*.tlog
ClassDemo/*.lastbuildstate
ClassDemo/*.sdf
ClassDemo/*.opendb
ClassDemo/*.VC.db

ClassDemo/obj/
ClassDemo/bin/