<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment3</title>

    <!-- Add your stylesheets -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="wwwroot/css/site.css" rel="stylesheet" />

    <!-- Your custom stylesheet to override -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#1B2429">
            <div class="container-fluid d-flex justify-content-between">
                <a asp-controller="Home" asp-action="Index" class="d-flex justify-content-left align-items-center">
                    <img style="max-width: 150px; height: auto;" src="/images/Logo/GymPalLogo.jpg" alt="GymPal" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" asp-controller="Person" asp-action="Index">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" asp-controller="Person" asp-action="Details">Routines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" asp-controller="Nutrition" asp-action="Index">Nutrition</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:white;" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:white;" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:white;" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:white;" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 GymPal - All rights reserved.
        </div>
    </footer>

    <!-- Render the Scripts section if defined -->
    @RenderSection("Scripts", required: false)

    <!-- Add common scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
