h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
p {
    color: white;
}
label.form-label[for="Input_RememberMe"] {
    color: white;
}
.mb-0 {
    color: black !important;
}

.weather-center {
    text-align: center;
    width: 100%;
}

.routine-exercises {
    display: none;
}

.routine:hover .routine-exercises {
    display: block;
}
