@model Assignment3.Models.Routine

@{
    ViewData["Title"] = "Create Routine";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Create Routine</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="DayOfWeek" class="control-label"></label>
        <select asp-for="DayOfWeek" class="form-control">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="RoutineType" class="control-label"></label>
        <input asp-for="RoutineType" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
