@model Assignment3.Models.Nutrition

<h2>Edit Nutrition Plan</h2>

<form asp-action="Edit" method="post" style="color:white;">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PersonId" />

    <div class="form-group">
        <label asp-for="TotalDailyCalories"> Daily Calorie Target </label>
        <input asp-for="TotalDailyCalories" class="form-control" />
        <span asp-validation-for="TotalDailyCalories" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CalorieSurplusOrDeficit"> Daily Calorie Adjustment</label>
        <input asp-for="CalorieSurplusOrDeficit" class="form-control" />
        <span asp-validation-for="CalorieSurplusOrDeficit" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProteinPercentage"> Protein Percentage </label>
        <input asp-for="ProteinPercentage" class="form-control" />
        <span asp-validation-for="ProteinPercentage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CarbPercentage"> Carb Percentage </label>
        <input asp-for="CarbPercentage" class="form-control" />
        <span asp-validation-for="CarbPercentage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FatPercentage"> Fat Percentage</label>
        <input asp-for="FatPercentage" class="form-control" />
        <span asp-validation-for="FatPercentage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" asp-route-personId="@Model.PersonId" class="btn btn-secondary">Cancel</a>
</form>
